@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* #007bff - shade of blue */
/* #ff6b6b - shade of red */

/* #6f42c1 - shade of purple */
/* #008080 - teal */

/* #28a745 - shade of green */

/* #000080 - navy blue */

/* #ff5c35 - orangish */

::selection {
  /* background-color: teal; */
  background-color: #3aa1a1;
  color: white;
}

/* Navigation */
nav .MuiTypography-root , nav .MuiToolbar-root{
  background: white;
  height: 100px;
}

nav .MuiTypography-root img {
  height: 100px;
}

nav .MuiSvgIcon-root {
  color: black;
  font-size: 30px;
}

nav .MuiBox-root a {
  text-transform: capitalize;
  color: black;
  font-size: 1.05rem;
  position: relative;
  transition: 0.5s all;
  padding: 0px;
  margin: 0px 8px;
  min-width: auto;
}

nav .MuiBox-root .active {
  color: darkcyan;
}

nav .MuiBox-root .active::after {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: darkcyan;
  bottom: 0;
  left: 0;
  content: "";
  animation: navLink 0.5s;
  display: inline;
}

@keyframes navLink {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

/* Footer */
.footer {
  padding-top: 20px !important;
  background-color: white !important;
  position: relative;
  z-index: 999;
}

.footer .second-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 20px 40px;
}

.footer .second-footer .icons {
  width: 50%;
  max-width: 250px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  nav .MuiBox-root a {
    font-size: 0.9rem;
  }
  nav .MuiToolbar-root{
    padding: 0px 5px;
  }
  .second-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-footer .content p{
    margin-bottom: 0px !important;
  }
}

@media (max-width: 600px) {
  nav.MuiToolbar-root {
    background: white;
    height: 70px;
  }
}
