.support {
  padding-top: 40px;
}

.technical,
.non-technical,
.support h2 {
  width: 95%;
  max-width: 800px;
  margin: auto;
}

.support p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 300;
}

.support p b,
.technical p .MuiSvgIcon-root,
.non-technical p .MuiSvgIcon-root {
  color: darkcyan;
}

@media (max-width: 768px) {
  .support {
    padding-top: 20px;
  }
  .support p {
    font-size: 1rem;
    line-height: 1.4;
  }
}
